.page-cover {
	background-image: url("./images/Cover.png");
	border: 1px solid #000000;
}

.page-cover.front {
	background-position: right;
}

.page-cover.back {
	background-position: left;
}

.page-cover .page-header {
	margin: 40px 0px 0px 0px;

	background-color: rgba(255, 215, 0, 0.8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	font-size: 80px;
	font-family: Sylvan;
	line-height: 100px;
	text-align: center;
	text-shadow: rgba(45, 45, 45, 0.5) 1px 1px 1px;
	color: transparent;
}

.page-cover .page-header-small {
	margin: 20x 0px 0px 0px;

	background-color: rgba(45, 45, 45, 0.8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	font-size: 20px;
	font-family: Dwarvish;
	text-align: center;
	text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
	color: transparent;
}

.page-cover-inside {
	border: solid 1px #004000;
}

.page-content .decorative-corner {
	height: 100px;
	width: 100px;

	position: absolute;

	background-image: url("./images/Corner.png");
}

.page-content.--left .decorative-corner {
	left: 11px;
	transform: scaleX(-1);
}

.page-content.--right .decorative-corner {
	right: 11px;
}

.page-content .decorative-corner.top {
	top: 5px;
}

.page-content .decorative-corner.bottom {
	bottom: 5px;
	transform: scaleY(-1);
}

.page-content.--left .decorative-corner.bottom {
	transform: scale(-1)
}

.page-content .page-header {
	width: 100%;
	height: 50px;
	padding-top: 10px;
	margin-bottom: 20px;

	font-size: 30px;
	font-family: 'Ananda';
}

.page-content .page-section {
	min-height: 100px;

	padding-top: 10px;
	margin-bottom: 20px;

	font-size: 14px;
	font-family: 'Merienda', cursive;
}

.page-content.--left .page-align-left .page-header,
.page-content.--left .page-align-left .page-section {
	padding-left: 200px;
}

.page-content.--right .page-align-left .page-header,
.page-content.--right .page-align-left .page-section {
	padding-left: 226px;
}

.page-content.--left .page-align-right .page-header,
.page-content.--left .page-align-right .page-section {
	padding-right: 226px;
}

.page-content.--right .page-align-right .page-header,
.page-content.--right .page-align-right .page-section {
	padding-right: 200px;
}

.page-content.--left .page-align-left .page-section.no-align,
.page-content.--right .page-align-left .page-section.no-align,
.page-content.--left .page-align-right .page-section.no-align,
.page-content.--right .page-align-right .page-section.no-align {
	padding-left: 0px;
	padding-right: 0px;
}

.page-content .page-image-small {
	position: absolute;
	top: 20px;

	width: 200px;
	height: 280px;

	overflow: hidden;

	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 0px 0px 10px 10px;
}

.page-content .page-image-small img {
	height: 100%;

	display: block;

	margin: auto 0px 0px auto;
}

.page-content.--left .page-align-left .page-image-small {
	left: 26px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	border-top-right-radius: 10px;
	box-shadow: inset -4px -4px 4px 0px rgba(0, 0, 0, 0.04)
}

.page-content.--left .page-align-right .page-image-small {
	right: 14px;
	border-left: 1px solid rgba(0, 0, 0, 0.4);
	border-top-left-radius: 10px;
	box-shadow: inset 4px -4px 4px 0px rgba(0, 0, 0, 0.04)
}

.page-content.--right .page-align-left .page-image-small {
	left: 14px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	border-top-right-radius: 10px;
	box-shadow: inset -4px -4px 4px 0px rgba(0, 0, 0, 0.04)
}

.page-content.--right .page-align-right .page-image-small {
	right: 26px;
	border-left: 1px solid rgba(0, 0, 0, 0.4);
	border-top-left-radius: 10px;
	box-shadow: inset 4px -4px 4px 0px rgba(0, 0, 0, 0.04)
}

.page-content .page-section.chapter-title {
	min-height: auto;

	padding-top: 0px;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 5px;

	font-size: 18px;
	text-align: center;
}

.page-content .page-section.chapter-title.margin-top {
	margin-top: 200px;
}

.page-content .page-section.chapter-title .sylvan {
	font-size: 46px;
	font-weight: bold;
}

.page-content .page-section.chapter-title .dwarvish {
	font-size: 24px;
}

.page-content .page-section.chapter-title .separator-line {
	height: 8px;

	margin-top: 10px;
	margin-bottom: 10px;
}

.page-content .page-section.chapter-title .separator-line::before {
	top: 0px;
	height: 8px;
}

.page-content .page-section.chapter-title.margin-top .separator-line::before {
	box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
}

.page-content .page-section.chapter-title .separator-line::before {
	box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.page-content .page-section.chapter-title .separator-line::after {
	top: -8px;
	height: 8px;
}

.page-content .page-section.chapter-title.margin-top .separator-line::after {
	box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.4);
}

.page-content .page-section.chapter-title .separator-line::after {
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.page-content .page-section.no-height {
	min-height: auto;
}

.page-content .page-section.translation-common {
	min-height: 30px;

	padding-top: 0px;

	font-size: 16px;
	font-weight: bold;
}

.page-content .page-section.description-short {
	min-height: 130px;

	padding-top: 0px;
}

.page-content .page-section .page-section-header {
	padding-top: 5px;
	margin-bottom: 10px;

	font-size: 20px;
	font-family: 'Ananda';
}

.page-content .separator-line {
	width: 100%;
	height: 4px;
}

.page-content .separator-line::before {
	content: "";
	display: block;

	width: 50%;
	height: 4px;

	position: relative;
	top: 2px;

	border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.page-content .separator-line::after {
	content: "";
	display: block;

	width: 50%;
	height: 4px;

	position: relative;
	top: -5px;
	left: 50%;

	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}