.page-cover {
	border: 1px solid #000000;
	box-shadow: -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page-cover.front {
	background-image: url("./images/Cover.png");
	background-position: right;
}

.page-cover.back {
	background-image: url("./images/Cover.png");
	background-position: left;
}

.page-cover .page-header {
	margin: 40px 0px 0px 0px;

	background-color: rgba(240, 245, 250, 0.8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	font-size: 80px;
	font-family: Sylvan;
	line-height: 100px;
	text-align: center;
	text-shadow: rgba(45, 45, 45, 0.5) 1px 1px 1px;
	color: transparent;
}

.page-cover .page-header-small {
	margin: 20x 0px 0px 0px;

	background-color: rgba(45, 45, 45, 0.8);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	font-size: 20px;
	font-family: Dwarvish;
	text-align: center;
	text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
	color: transparent;
}

.page-cover-inside {
	border: solid 1px #400000;
}