@font-face {
	font-family: 'Dwarvish';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/DTSDwarvish.ttf') format('truetype');
}

@font-face {
	font-family: 'Sylvan';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/Rellanic.otf') format('truetype');
}

@font-face {
	font-family: 'Sylvan';
	font-style: italic;
	font-weight: normal;
	src: url('./fonts/Rellanic\ Italic.otf') format('truetype');
}

@font-face {
	font-family: 'Sylvan';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/Rellanic\ Bold.otf') format('truetype');
}

@font-face {
	font-family: 'Sylvan';
	font-style: italic;
	font-weight: bold;
	src: url('./fonts/Rellanic\ Bold\ Italic.otf') format('truetype');
}

@font-face {
	font-family: 'Ananda';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/Ananda.ttf') format('truetype');
}

@font-face {
	font-family: 'Ananda';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/Ananda\ Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Merienda';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/Merienda-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Merienda';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/Merienda-Bold.ttf') format('truetype');
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	padding: 5em;

	height: 100%;

	background-size: 100%;

	overflow: clip;

	user-select: none;
}

span.sylvan {
	font-family: 'Sylvan';
}

span.dwarvish {
	font-family: 'Dwarvish';
}

.book-container {
	margin: auto;
}

.page-container {
	padding: 40px 20px 40px 20px;

	overflow: hidden;
}

.page-container.--left {
	border-right: solid 1px rgba(36, 10, 3, 0.5);
	padding-left: 51px;
}

.page-container.--right {
	border-left: solid 1px rgba(36, 10, 3, 0.5);
	padding-right: 51px;
}

.page-cover {
	background: #e3d0b5;
	border: solid 1px #998466;
	box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.2), 0px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page-cover.--left {
	padding-left: 20px;
}

.page-cover.--right {
	padding-right: 20px;
}

.page-cover.front {
	border-radius: 0px 10px 10px 0px;
}

.page-cover.back {
	border-radius: 10px 0px 0px 10px;
}

.page-cover-inside {
	background: #e3d0b5;
	border: solid 1px #998466;
	box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5);
}

/* Magic hax thing to create a background for the pages */
.page-content::before {
	content: "";
	position: absolute;
	top: 2px;
	bottom: 5px;
	z-index: -2;
	box-shadow: 0 0 20px #8a4d0f inset;
	background: #fffef0;
	filter: url("#wavy");
}

.page-content.--left::before {
	left: 8px;
	right: -5px;

	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.page-content.--right::before {
	left: -5px;
	right: 12px;

	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}

/* End of magic hax */

#fake-cover-inside {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	border-radius: 10px;
	box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
	z-index: -10;
}

.page-cover-inside.--left,
#fake-cover-inside.--left {
	border-radius: 10px 0px 0px 10px;
}

.page-cover-inside.--right,
#fake-cover-inside.--right {
	border-radius: 0px 10px 10px 0px;
}

#fake-page-stack {
	position: absolute;
	top: 1px;
	bottom: 4px;
	left: 3px;
	right: 7px;

	box-shadow: 0 0 20px #8a4d0f inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
	background: #fffef0;
	filter: url("#wavy");
}

#fake-page-stack.--left {
	right: 50%;
}

#fake-page-stack.--right {
	left: 50%;
}

#fake-cover-spine {
	position: absolute;
	top: 0px;
	left: calc(50% - 10px);

	width: 20px;
	height: 100%;

	background-position: center;
	border: 1px solid #000000;
	z-index: -5;
}

.stf__hardShadow {
	border-radius: 10px;
}